/* login layout */

/* main page layout */
.main { display: -ms-grid; display: grid; grid-template-rows: 180px 1fr; -ms-grid-columns: 240px 1fr; grid-template-columns: [nav] 240px [script_list] 1fr; grid-template-areas: "nav character_list" "nav script_list"; height: 100%; overflow: hidden; white-space: nowrap; background: url('../imgs/pattern.png') repeat #F4F6F8; }

/* common nav */
#nav { grid-area: nav; height: 100vh; background: #fff; font-weight: 700; white-space: nowrap; overflow-y: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ padding: 48px 0 0 0; box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.08); -ms-grid-row: 1; -ms-grid-row-span: 3; grid-row: 1 / span 3; }
#nav h1.logo { width: 100%; height: 48px; margin: 0 auto 24px; }
#nav h1.logo>a { display: block; background: url('../imgs/signature.svg') 50% no-repeat; background-size: 122px; }
#nav .my_info>ul>li { font-size: 16px; font-weight: 400; }
#nav .my_info>ul>li span { display: inline-block; max-width: 128px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 16px; font-weight: 700; transform: translateY(10%); } 
#nav .my_info ul li a span { font-size: 12px; }
#nav .my_info .list { padding: 12px 32px 24px; position: relative; }
#nav .my_info .list>.icon_bg_24 { position: absolute; right: 32px; top: 50%; transform: translateY(-75%); }
#nav .list li a { position: relative; display: block; padding: 8px 24px; height: 56px; box-sizing: border-box; }
#nav .list li a span { box-sizing: border-box; position: absolute; top: 50%; transform: translateY(-50%); margin-left: 16px; font-weight: 700; }
#nav .my_info .list>ul { display: none; padding: 12px 0; position: absolute; border: 1px solid #C9D0D8; background-color: #FFFFFF; box-sizing: border-box; border-radius: 8px; top: 48px; left: 24px; width: 192px; z-index: 1; }
#nav .my_info .list:hover>ul { display: block; animation: slide-down .5s linear; -webkit-animation: slide-down .5s linear; -moz-animation: slide-down .5s linear; }

@keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-10%); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-webkit-keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(-10%); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
  0% { opacity: 0; -moz-transform: translateY(-10%); }
  100% { opacity: 1; -moz-transform: translateY(0); }
}

#nav .my_info .list>ul::before { content: ''; width: 0; height: 0; position: absolute; top: -12px; left: 84px; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #C9D0D8; }
#nav .my_info .list>ul::after { content: ''; width: 0; height: 0; position: absolute; border-left: 12px solid transparent; border-right: 12px solid transparent; border-bottom: 12px solid #FFFFFF; top: -11px; left: 84px; }
#nav .function_list ul:first-child { padding-top: 12px; }
#nav .function_list>ul { padding: 24px 0; }
#nav .function_list ul:last-child { padding-bottom: 96px; }
#nav .function_list ul li a.new_notice>div { position: relative; }
#nav .function_list ul li a.new_notice>div::after { display: inline-block; content: ''; width: 12px; height: 12px; border-radius: 8px; background-color: #f69000; position: absolute; top: 0; right: 0; }
#nav .list li a:hover span,
#nav .list li a.active span { color: #000; }
#nav .list li a:hover .bg_purple,
#nav .list li a.active .bg_purple { box-shadow: 0 2px 6px 0 rgba(93, 31, 255, .6); }
#nav .list li a:hover .bg_blue,
#nav .list li a.active .bg_blue { box-shadow: 0 2px 6px 0 rgba(9, 100, 255, .6); }
#nav .list li a:hover .bg_sky_blue,
#nav .list li a.active .bg_sky_blue { box-shadow: 0 2px 6px 0 rgba(27, 175, 253, .6); }
#nav .list li a:hover .bg_blue_green,
#nav .list li a.active .bg_blue_green { box-shadow: 0 2px 6px 0 rgba(29, 182, 204, .6); }
#nav .list li a:hover .bg_green,
#nav .list li a.active .bg_green { box-shadow: 0 2px 6px 0 rgba(36, 212, 181, .6); }
#nav .list li a:hover .bg_yellow_green,
#nav .list li a.active .bg_yellow_green { box-shadow: 0 2px 6px 0 rgba(208, 211, 68, .6); }
#nav::-webkit-scrollbar { display: none; }
.icon_bg_16 { width: 16px; height: 16px; display: inline-block; box-sizing: border-box; }
.icon_bg_24 { width: 24px; height: 24px; display: inline-block; box-sizing: border-box; }
.icon_bg_40 { width: 40px; height: 40px; border-radius: 20px; display: inline-block; box-sizing: border-box; text-align: center; padding: 8px; }
.icon_bg_68 { width: 68px; height: 68px; border-radius: 34px; display: inline-block; padding: 22px 17px; box-sizing: border-box; }
.bg_sign_up_blue { background-color: #56adf6; }
.bg_purple { background-color: #5d1fff; }
.bg_blue { background-color: #0964ff; }
.bg_sky_blue { background-color: #1baffd; }
.bg_blue_green { background-color: #1db6cc; }
.bg_green { background-color: #24d4b5; }
.bg_yellow_green { background-color: #d0d344; }
input.error { border: 1px solid #c64f56; }
input.error>p { content: '이메일 주소가 형식에 맞지 않습니다.'; }
h1.logo>a { display: block; width: 100%; height: 100%; }
#character_list { grid-area: character_list; box-sizing: border-box; overflow: hidden; -ms-grid-column: 2; -ms-grid-column-span: 2; -ms-grid-row-span: 1; grid-column: 2 / span 2; margin: 24px 24px 12px; background-color: #fff; padding: 8px 12px 0; border-radius: 8px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); position: relative; }
#script_list { height: calc(100vh - 190px); grid-area: script_list; padding: 12px 24px 36px; -ms-grid-column: 2; -ms-grid-row: 2; -ms-grid-row-span: 2; -ms-grid-column-span: 2; grid-row: 2 / span 2; grid-column: 2 / span 2; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ overflow: scroll; margin: 0 auto; position: relative; }
#script_list::-webkit-scrollbar,
#mini_map::-webkit-scrollbar { display: none; }
#mini_map { position: fixed; top: 192px; left: 24vw; height: calc(100vh - 200px); overflow-y: auto; z-index: 10; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

/* sub_pages layout */
.payments,
.download,
.payments_management {
  display: -ms-grid;
  display: grid;
  grid-template-rows: 0;
  -ms-grid-rows: 0;
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: [nav] 240px [contents] 1fr;
  grid-template-areas:
    "nav contents"
    "nav contents"
    "nav contents";
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: url('../imgs/pattern.png') repeat #F4F6F8;
}
#contents { grid-area: contents; margin: 24px; height: calc(100vh - 48px); box-sizing: border-box; overflow-y: auto; background-color: #fff; border-radius: 8px; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08); padding-bottom: 48px; -ms-grid-column: 2; -ms-grid-column-span: 2; -ms-grid-row: 2; -ms-grid-row-span: 2; grid-row: 2 / span 2; grid-column: 2 / span 2; padding: 48px 48px 0; }
#contents::-webkit-scrollbar { width: 28px; }
#contents::-webkit-scrollbar-thumb { background-color: #C9D0D8; border-radius: 30px; background-clip: padding-box; border: 12px solid transparent; }
#contents::-webkit-scrollbar-track { background-color: #FFFFFF; border-radius: 30px; box-shadow: inset 0px 0px 5px white; }
#top_banner { position: absolute; left: 240px; width: calc(100% - 240px); height: 49px; background: linear-gradient(0.45turn, #22C1A9, #1C2E95); z-index: 1; }
#top_banner+#nav+#character_list { top: 49px; }
#top_banner+#nav+#character_list+#mini_map { top: 241px; }
#top_banner+#nav+#character_list+#mini_map+#script_list { top: 49px; }
#top_banner>div.top_banner_contents { width: 700px; margin: 0 auto; padding-left: 16px; display: flex; position: relative; }
#top_banner>div.top_banner_contents .event { margin-top: 10px; margin-right: 60px; width: 90px; height: 36px; background: left / 112px url('../imgs/event@2x.png') no-repeat; }
#top_banner>div.top_banner_contents .text_20000 { width: 306px; height: 32px; background: center / 326px url('../imgs/text_20000@2x.png') no-repeat; margin: 10px 0 10px 12px; }
#top_banner .today_close_box input[type='checkbox'] { display: none; }
#top_banner .today_close_box label { color: #fff; font-size: 12px; font-weight: 400; } 
#top_banner .today_close_box { vertical-align: middle; position: absolute; top: 16px; right: 54px; }
#top_banner .today_close_box label::before { display: inline-block; content: ""; width: 14px; height: 14px; border-radius: 4px; background-color: #fff; margin-right: 10px; vertical-align: middle; margin-top: -2px; }
#top_banner .today_close_box input[type='checkbox']:checked+label::before { background: 52% 56% / 9px url('../imgs/ico-checked@2x.png') no-repeat #1FB4CB; }
#top_banner .top_banner_close { width: 18px; height: 18px; background: center / 18px url('../imgs/icn_delete_white-18px@2x.png') no-repeat; position: absolute; top: 14px; right: 16px; }

/* sign_in layout */
.sign_in { display: inline-block; width: 320px; font-size: 12px; padding-top: 124px; min-height: calc(100vh - 194px); vertical-align: top; }

/* sign_up layout */
#wrap .container.sign_up { width: 452px; margin: 0 auto; font-size: 12px; padding-top: 124px; min-height: calc(100vh + 16px); }

/* find_password_resend_email, find_password_send_email layout */
.container.find_password_resend_email,
.container.find_password_send_email,
.container.find_password_confirm { width: 452px; margin: 0 auto; font-size: 12px; padding-top: 124px; min-height: calc(100vh - 194px); }

@media(max-width:1199px) {
  .sign_in,
  .container.find_password_resend_email,
  .container.find_password_send_email,
  .container.find_password_confirm { min-height: calc(100vh - 216px); }
}

/* footer */
footer { width: 100%; border-top: 1px solid #e3e8eb; height: 70px; box-sizing: border-box; }
footer ul { width: 1060px; margin: 26px auto; }
footer ul li { float: left; margin-right: 16px; }
footer ul li>em { margin-right: 13px; }
footer ul li>address { display: inline-block; }
footer ul li::after { display: inline-block; content: ''; width: 1px; height: 12px; background-color: #e4e8eb; margin-left: 16px; vertical-align: middle; }
footer ul li:last-child::after { display: none; }
footer ul::after { content: ''; display: block; clear: both; }