/* page loading */
#pageldg { display: block; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; text-align: center; background-color: #fff; z-index: 99999999; opacity: 1.0; }
#pageldg:before { content: ''; position: absolute; top: 50%; left: 50%; margin: 0 0 0 -30px; border-radius: 100%; background: radial-gradient(#e9edf3, #fff); opacity: 0; width: 60px; height: 60px; -webkit-animation: pageldg_wave 1.7s 2.5s linear infinite; animation: pageldg_wave 1.7s 2.5s linear infinite; z-index: 444; }
#pageldg span.out_bg { position: absolute; top: 50%; width: 180px; height: 180px; margin: -90px 0 0 -90px; border-radius: 300px; background: #fff; animation: out_bg 1s 0s ease-in-out both; z-index: 555; }
#pageldg span em { overflow: hidden; position: absolute; top: 50%; left: 50%; width: 200px; height: 200px; margin: -100px 0 0 -100px; border-radius: 300px; background: #fff; animation: em_opacity 3s 0.1s ease-in-out both; }
#pageldg span em strong:nth-child(1) { content: ''; position: absolute; bottom: 38%; left: 12%; width: 0%; height: 30%; background: #00aebc; animation: st_move_01 1.5s 0.1s ease-in-out both; } 
#pageldg span em strong:nth-child(2) { content: ''; position: absolute; top: 52%; left: 28%; width: 60%; height: 18%; border-radius: 0; background: #fff; animation: st_move_02 1.5s 1.2s ease-in-out both; }
#pageldg span em strong:nth-child(3) { content: ''; position: absolute; bottom: 48%; right: 15%; width: 20px; height: 0%; background: #00aebc; animation: st_move_03 0.5s 2.0s ease-in-out both; }
#pageldg span em b { content: ''; position: absolute; top: 50%; left: 50%; width: 160px; height: 160px; margin: -80px 0 0 -80px; background: url("../images/ico_pageldg_trans.svg") 50% 50% no-repeat; background-size: cover; z-index: 999; }
.pageldg_hide { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: pageldg_hide; animation-name: pageldg_hide; }

/* page loading keyframes */
@-webkit-keyframes pageldg_wave {
    0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0; }
    5% { opacity: 1; }
    100% { -webkit-transform: scale(1); transform: scale(50); opacity: 0; }
}
@keyframes pageldg_wave {
    0% { -webkit-transform: scale(0); transform: scale(0); opacity: 0; }
    5% { opacity: 1; }
    100% { -webkit-transform: scale(1); transform: scale(50); opacity: 0; }
}
@-webkit-keyframes out_bg {
    0% { opacity: 0; transform: scale(0); }
    80% { opacity: 0.3; transform: scale(1.2); }
    100% { opacity: 1; transform: scale(1); }
}
@keyframes out_bg {
    0% { opacity: 0; transform: scale(0); }
    80% { opacity: 0.2; transform: scale(1.2); }
    100% { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes st_move_01 {
    0% { width: 0%; }
    100% { width: 50%; }
}
@keyframes st_move_01 {
    0% { width: 0%; }
    100% { width: 50%; }
}
@-webkit-keyframes st_move_02 {
    0% { background: #fff; }
    100% { background: #35384d; }
}
@keyframes st_move_02 {
    0% { background: #fff; }
    100% { background: #35384d; }
}
@-webkit-keyframes st_move_03 {
    0% { height: 0%; }
    100% { height: 6%; }
}
@keyframes st_move_03 {
    0% { height: 0%; }
    100% { height: 6%; }
}
@-webkit-keyframes pageldg_hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes pageldg_hide {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* 공통 */
.text_hide { overflow: hidden; text-indent: -9999px; }
.font_InkLipquid { font-family: 'InkLipquid' !important; font-weight: 400 !important; }
.btn_primary_line { display: inline-block; padding: 8px 15px; border: 2px solid #fff; border-radius: 40px; box-sizing: border-box; font-weight: 700; color: #fff; }
.btn_primary_line.large { padding: 17px 32px 15px 32px; font-size: 24px; }
.btn_primary_line.large .text { margin-bottom: 4px; line-height: 0; }
.btn_primary_line span { display: inline-block; vertical-align: middle; }
.btn_primary_line.large .icon_right { margin-left: 16px; width: 36px; height: 36px; }
.btn_primary_line:hover { background: #fff; color: #5d1fff; }
.btn_primary_line:hover .icon_right .fill_target { fill: #5d1fff; }
.btn_primary_bg { display: inline-block; padding: 8px 15px; border-radius: 40px; border: 1px solid #fff; background: #5d1fff; box-sizing: border-box; font-weight: 700; color: #fff; }
.btn_primary_bg.large { padding: 16px 32px; font-size: 24px; }
.btn_switch { display: inline-block; position: relative; padding: 2px; border: 2px solid #5d1fff; border-radius: 40px; font-weight: 700; color: #5d1fff; }
.btn_switch .switch_bg { display: block; position: absolute; top: 2px; left: 2px; width: 62px; height: calc(100% - 4px); border-radius: 20px; line-height: 32px; background: #5d1fff; transition: left .5s; }
.btn_switch.move .switch_bg { left: calc(50% - 3px); }
.btn_switch button { position: relative; padding: 0 14px; line-height: 32px; font-weight: 700; color: #fff; transition: color .5s; }
.btn_switch button:nth-of-type(1) { padding: 0 10px 0 14px; border-radius: 20px 0 0 20px; color: #fff; }
.btn_switch button:nth-of-type(2) { padding: 0 14px 0 10px; border-radius: 0 20px 20px 0; color: #5d1fff; }
.btn_switch.move button:nth-of-type(1) { color: #5d1fff; }
.btn_switch.move button:nth-of-type(2) { color: #fff; }

/* about box */
.fl { float: left; }
.fr { float: right; }
.full_bg { background: #5d1fff; }
.canvas_container { width: 100% !important; height: auto !important; }
.canvas_container canvas { position: static !important; width: 100% !important; height: auto !important; }

/* section */
.stn { min-width: 1280px; padding: 0 30px; text-align: center; }
.content { display: inline-block; width: 1280px; }
.lyr_bg_dim { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999; } 
.lyrPlayBox { display: none; position: fixed; top: 50%; left: 50%; width: 1000px; min-height: 150px; border-radius: 3px; box-shadow: 0 1px 4px 0 rgba(44, 63, 81, 0.1); transform: translate(-50%, -50%); z-index: 9999; }
#lyr_video_player { display: block; }
#lyr_video_player .lyr_ct { width: 1000px; }
#lyr_video_player .lyr_ct video { width: 100%; }
#lyr_video_player .btn_lyr_close { display: inline-block; position: absolute; top: -40px; right: 0px; width: 40px; height: 40px; }
#lyr_video_player .btn_lyr_close .html_code { display: block; height: 100%; line-height: 28px; font-size: 56px; color: #fff; }

/* wrap */
#wrap { overflow: hidden; position: relative; width: 100%; min-width: 1280px; }

/* header */
.header { overflow: hidden; position: fixed; top: 0; left: 0; right: 0; width: 100%; min-width: 1280px; height: 80px; border-bottom: 1px solid #5d1fff; padding: 0 30px; background: #fff; z-index: 10; box-sizing: border-box; }
.header .header_wrap { width: calc(100% - 60px); min-width: 1280px; height: 100%; padding: 16px 38px; box-sizing: border-box; }
.header h1 { display: inline-block; width: 172px; height: 48px; background: url(../images/logo_ava.svg) no-repeat 0 0; }
#gnb { display: inline-block; margin: 4px 0 0 0; }
#gnb li { display: inline-block; vertical-align: middle; }
#gnb li+li { margin-left: 48px; }
#gnb li:last-child { margin-left: 56px; display: none; }
#gnb li a { display: block; padding: 8px 13px; font-weight: 700; color: #5d1fff; letter-spacing: normal; }
#gnb li .start { color: #fff; }
.header.visual_bg { border: none; background: #5d1fff; } 
.header.visual_bg #gnb li a { color: #ded2ff; }
.header.visual_bg #gnb li .start { background: #fff; color: #5d1fff; }
.header.visual_bg h1 { background-image: url(../images/logo_ava_white.svg); }
.header.visual_bg .btn_ham span { background: #fff; }
.header.visual_bg .btn_switch { border-color: #fff; color: #fff; }
.header.visual_bg .btn_switch .switch_bg { background: #fff; }
.header.visual_bg .btn_switch button { color: #5d1fff; }
.header.visual_bg .btn_switch button:nth-of-type(1) { color: #5d1fff; }
.header.visual_bg .btn_switch button:nth-of-type(2) { color: #fff; }
.header.visual_bg .btn_switch.move button:nth-of-type(1) { color: #fff; }
.header.visual_bg .btn_switch.move button:nth-of-type(2) { color: #5d1fff; }
.header.mobile .gnb { display: none; }
.header.mobile .gnb_wrap { position: fixed; top: 0; right: 0; width: 240px; height: 100%; padding: 24px; background: #fff; box-sizing: border-box; }
.header.mobile .gnb_wrap .btn_lang { margin-top: 30px; }
.header.mobile .gnb_wrap .btn_lang button { width: 84px; height: 84px; padding-top: 40px; background: #fff url(../images/ico_kor.svg) no-repeat 24px 10px; border: 1px solid #e4e8eb; border-radius: 4px; box-sizing: border-box; font-size: 14px; color: #414853; text-align: center; }
.header.mobile .gnb_wrap .btn_lang button:nth-child(2) { background-image: url(../images/ico_usa.svg); }
.header.mobile .gnb_wrap .btn_lang button.active { border-color: #552cf5; }
.header.mobile .start { position: absolute; top: 14px; right: 60px; padding: 6px 14px; font-size: 14px; }
.header.visual_bg.mobile .start { background: #fff; color: #552cf5; }
.header .btn_ham { position: absolute; top: 10px; right: 8px; width: 40px; height: 40px; transition: all 0.3s ease-out; cursor: pointer; z-index: 250; }
.header .btn_ham span { display: block; position: absolute; left: 12px; width: 16px; height: 3px; border-radius: 3px; background: #5d1fff; z-index: 5; }
.header .btn_ham span:nth-child(1) { top: 12px; -webkit-animation: menu_bar1 0.8s forwards; animation: menu_bar1 0.8s forwards; }
.header .btn_ham span:nth-child(2) { top: 19px; }
.header .btn_ham span:nth-child(3) { bottom: 11px; -webkit-animation: menu_bar2 0.8s forwards; animation: menu_bar2 0.8s forwards; }
.header .btn_ham.active { position: fixed; }
.header .btn_ham.active span { background: #5d1fff; } 
.header .btn_ham.active span:nth-child(1) { top: 13px; -webkit-animation: active_menu_bar1 0.8s forwards; animation: active_menu_bar1 0.8s forwards; } 
.header .btn_ham.active span:nth-child(2) { opacity: 0; }
.header .btn_ham.active span:nth-child(3) { bottom: -6px; -webkit-animation: active_menu_bar2 0.8s forwards; animation: active_menu_bar2 0.8s forwards; }

@keyframes menu_bar1 {
    0% { transform: translateY(7px) rotate(45deg); }
    50% { transform: translateY(7px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
}
@keyframes menu_bar2 {
    0% { transform: translateY(-7px) rotate(-45deg); }
    50% { transform: translateY(-7px) rotate(0); }
    100% { transform: translateY(0) rotate(0); }
}
@keyframes active_menu_bar1 {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(5px) rotate(0); }
    100% { transform: translateY(5px) rotate(45deg); }
}
@keyframes active_menu_bar2 {
    0% { transform: translateY(0) rotate(0); }
    50% { transform: translateY(-25px) rotate(0); }
    100% { transform: translateY(-25px) rotate(-45deg); }
}

.header.mobile.menu_on .gnb { display: block; }
.header.mobile.menu_on .gnb:before { content: ''; display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.45); }
.header.mobile.menu_on .btn_ham span { background: #5d1fff; }
.header.desktop { display: block; }
.header.mobile { display: none; }

/* container */
#container { padding: 80px 0 0 0; }

/* footer */
#footer { width: 100%; padding: 0 30px; border-top: 1px solid #e4e8eb; box-sizing: border-box; text-align: center; }
#footer .content { padding: 48px 0; text-align: left; }
#footer .footer_logo,
#footer .footer_cont { display: inline-block; vertical-align: top; }
#footer .footer_logo { width: 174px; }
#footer .footer_logo img { width: 100%; }
#footer .footer_cont { margin: 0 0 0 78px; }
#footer .footer_nav li { display: inline-block; }
#footer .footer_nav .nav_list { display: block; height: 100%; padding: 10px; line-height: 14px; font-size: 14px; font-weight: 700; color: #a8b0bc; letter-spacing: normal; }
#footer .footer_nav li+li { margin-left: 25px; }
#footer .footer_cont .info_txt { display: block; margin: 36px 0 0 0; line-height: 14px; font-size: 14px; color: #a8b0bc; }
#footer .footer_cont .copyright { line-height: 14px; font-size: 12px; font-weight: 700; color: #a8b0bc; letter-spacing: normal; }
#footer .footer_cont .copyright span { font-weight: 500; }

/* visual */
.visual .content { margin: 60px 0 134px 0; }
.visual .visual_text { width: 400px; margin: 120px 0 0 0; text-align: left; }
.visual .visual_text .text_static { display: block; font-size: 40px; font-weight: 700; letter-spacing: -2px; color: #fff; }
.visual .visual_text .text_static span { font-size: 72px; letter-spacing: -3.2px; }
.visual .visual_text .text_large { display: block; line-height: 1; font-size: 140px; color: #fff; }
.visual .visual_image { overflow: hidden; width: 768px; height: 720px; background: #fff; box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.3); }
.visual .visual_btn { margin-top: 56px; }
.visual .visual_image { border-radius: 24px; border: 1px solid #e3e8eb; }

/* intro */
.intro .content { margin-top: 124px; }
.intro .content:first-child { margin-top: 85px; }
.intro .content .cont_image { overflow: hidden; width: 722px; height: 624px; position: relative; }
.intro .content .cont_image img { width: 100%; }
.intro .content .cont_image video { width: 100%; }
.intro .content .cont_text { position: relative; width: 558px; height: 624px; text-align: left; }
.intro .content .cont_text .text_box { position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); box-sizing: border-box; }
.intro .content .cont_text .tit { line-height: 68px; font-size: 48px; font-weight: 700; color: #1a1a1a; letter-spacing: -2px; }
.intro .content .cont_text .desc { margin: 24px 0 0 0; line-height: 32px; font-size: 18px; color: #616c78; letter-spacing: -1px; }
.intro .content .font_InkLipquid { font-size: 80px; }
.intro .content .cont_text.fl .text_box { padding: 0 0 0 24px; }
.intro .content .cont_text.fr .text_box { padding: 0 0 0 70px; }
.intro .cont01_animation { position: relative; }
.intro .cont01_animation .cont_image { position: relative; }
.intro .cont01_animation .cont_image img { width: 100%; }
.intro .cont01_animation .cont_image .left { width: 548px; }
.intro .cont01_animation .cont_image .right { position: absolute; right: -174px; bottom: -56px; width: 446px; opacity: 0; }
.intro .cont01_animation .cont_image .right.active { animation-name: cont01Animation; animation-duration: 1.5s; animation-timing-function: 1; animation-fill-mode: forwards; }

@keyframes cont01Animation {
    0% { transform: translate(0, 0); opacity: 0; }
    100% { transform: translate(-150px, -30px); opacity: 1; }
}

.intro .content .info { position: absolute; left: 0px; bottom: 0; font-size: 12px; color: #414853; letter-spacing: -1px; }

/* movie_youtube */
.movie_youtube { background: #f4f6f8; margin-top: 124px; }
.movie_youtube .content { padding: 68px 0; text-align: left; }
.movie_youtube .movie_tit { font-size: 24px; font-weight: 700; color: #000; letter-spacing: -1px; } 
.movie_youtube .movie { width: 1280px; height: 720px; margin: 38px 0 0 0; }

/* tutorial */
.tutorial .content { padding: 124px 0; }
.tutorial .tutorial_tit { padding: 30px 0; border-radius: 0 100px 100px 100px; background: #552cf5; }
.tutorial .tutorial_tit .tit { line-height: 68px; font-size: 40px; font-weight: 700; letter-spacing: -1.8px; color: #fff; }
.tutorial .tutorial_tit .tit .font_InkLipquid { font-size: 80px; }
.tutorial .tutorial_tit .tit_mobile { display: none; line-height: 1.3; font-size: 24px; }
.tutorial .btn_tutorial { display: inline-block; padding: 15px 32px; font-size: 24px; color: #fff; }
.tutorial .btn_tutorial .icon_right { margin-left: 16px; }
.tutorial .tutorial_cont { margin: 124px 0 0 0; }
.tutorial .tutorial_cont .image_box { width: 768px; height: 1004px; margin: 25px 0 0; position: relative; overflow: hidden; }
.tutorial .tutorial_cont .image_box .image { overflow: hidden; display: none; width: 100%; height: 100%; border-radius: 24px; opacity: 0; transition: opacity .1s; }
.tutorial .tutorial_cont .image_box .image.active { display: block; animation-name: tutorial_img; animation-duration: .5s; animation-iteration-count: 1; animation-fill-mode: both; } 
.tutorial .tutorial_cont .image_box video { width: 100%; }

@keyframes tutorial_img {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* folder_box */
.tutorial .tutorial_cont .folder_box+.folder_box { margin-top: 16px; }

/* connect_pipe */
.tutorial .tutorial_cont .folder_box .connect_pipe { display: inline-block; position: relative; width: 40px; height: 40px; border-radius: 20px; border: 8px solid #e4e8eb; background: #fff; box-sizing: border-box; vertical-align: middle; }
.tutorial .tutorial_cont .folder_box .connect_pipe:after { content: ''; display: block; position: absolute; top: 50%; left: 32px; width: 50px; border-top: 1px dotted #e4e8eb; }
.tutorial .tutorial_cont .folder_box .connect_pipe:before { content: ''; display: block; position: absolute; top: 100%; left: 8px; width: 8px; height: 235px; background: #e3e8eb; }
.tutorial .tutorial_cont .folder_box:last-child .connect_pipe:before { display: none; }

/* folder */
.tutorial .tutorial_cont .folder { display: inline-block; position: relative; width: 353px; height: 250px; margin-left: 20px; vertical-align: middle; cursor: pointer; }
.tutorial .tutorial_cont .folder_back { position: relative; top: 25px; left: 24px; width: 284px; height: 60px; border-radius: 20px 20px 0 0; background: #C9D0D8; }
.tutorial .tutorial_cont .folder_front { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background: url(../images/img_folder.svg) no-repeat 0 100%; }
.tutorial .tutorial_cont .folder_cont { position: relative; width: 236px; padding-left: 50px; text-align: left; }
.tutorial .tutorial_cont .folder_cont .icon { overflow: hidden; display: inline-block; width: 44px; height: 44px; padding: 6px; border-radius: 8px; background: #a8b0bc; box-sizing: border-box; vertical-align: bottom; }
.tutorial .tutorial_cont .folder .folder_tit { display: inline-block; margin-left: 16px; vertical-align: bottom; font-size: 20px; font-weight: 700; color: #414853; } 
.tutorial .tutorial_cont .folder .folder_desc { margin: 12px 0 0 0; color: #414853; }

/* folder_box.open */
.tutorial .tutorial_cont .folder_box.open .connect_pipe { border: none; box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.24); }
.tutorial .tutorial_cont .folder_box.open .connect_pipe:before { left: 16px; }
.tutorial .tutorial_cont .folder_box.open .connect_pipe:after { left: 40px; }
.tutorial .tutorial_cont .folder_box.open .folder_front { background-image: url(../images/img_folder_open.svg); }
.tutorial .tutorial_cont .folder_box.open .folder_back { top: 15px; left: 34px; width: 284px; }
.tutorial .tutorial_cont .folder_box:nth-child(1).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(1).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(1).open .icon { background: #5d20ff; }
.tutorial .tutorial_cont .folder_box:nth-child(2).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(2).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(2).open .icon { background: #0964ff; }
.tutorial .tutorial_cont .folder_box:nth-child(3).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(3).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(3).open .icon { background: #1baffd; }
.tutorial .tutorial_cont .folder_box:nth-child(4).open .connect_pipe,
.tutorial .tutorial_cont .folder_box:nth-child(4).open .folder_back,
.tutorial .tutorial_cont .folder_box:nth-child(4).open .icon { background: #1db6cc; }
.tutorial .tutorial_cont .folder_box:nth-child(1).open .connect_pipe:after { border-color: #5d20ff; }
.tutorial .tutorial_cont .folder_box:nth-child(2).open .connect_pipe:after { border-color: #0964ff; }
.tutorial .tutorial_cont .folder_box:nth-child(3).open .connect_pipe:after { border-color: #1baffd; }
.tutorial .tutorial_cont .folder_box:nth-child(4).open .connect_pipe:after { border-color: #1db6cc; }
.tutorial .tutorial_cont .folder_box.open .folder_tit { color: #000; }
.tutorial .tutorial_cont .folder_box.open .folder_desc { color: #000; }
.tutorial .tutorial_cont .mobile_folder_wrap { display: none; padding: 0 0 30px 0; }
.tutorial .tutorial_cont .mobile_folder_wrap .folder_cont { display: inline-block; padding: 16px 0; }
.tutorial .tutorial_cont .mobile_folder_wrap .folder_cont .icon { width: 36px; height: 36px; padding: 6px; }
.tutorial .tutorial_cont .mobile_folder_wrap .folder_cont .icon img { width: 24px; height: 24px; }
.tutorial .tutorial_cont .mobile_folder_wrap .folder_tit { margin-left: 16px; font-weight: 700; color: #000; }
.tutorial .tutorial_cont .mobile_folder_wrap .folder_desc { margin-top: 12px; font-size: 12px; color: #000; }
.mobile_folder_wrap .swiper-pagination { bottom: 0; }
.mobile_folder_wrap.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin: 0; }
.mobile_folder_wrap .swiper-pagination-bullet { float: left; width: 25%; height: 4px; border-radius: 0; background: #f4f6f8; opacity: 1; }
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active { background: #5d1fff; border-radius: 4px; }
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active { background: #0964ff; border-radius: 4px; }
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active { background: #1baffd; border-radius: 4px; }
.mobile_folder_wrap .swiper-pagination .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active { background: #1db6cc; border-radius: 4px; }

/* try_ava */
.try_ava .content { margin: 60px 0 90px 0; }
.try_ava .try_tit { display: block; font-size: 44px; font-weight: 700; letter-spacing: -2px; color: #fff; } 
.try_ava .try_tit.tit_mobile { display: none; line-height: inherit; font-size: 32px; letter-spacing: -1.4px; }
.try_ava .try_desc { display: block; margin: 16px 0 0 0; line-height: 36px; font-size: 20px; letter-spacing: -2px; color: #fff; }
.try_ava .btn_primary_line { margin: 36px 0 0 0; }

/* any_questions */
.any_questions .content { padding: 128px 0 160px 0; }
.any_questions .questions_tit { font-size: 40px; font-weight: 700; color: #414853; letter-spacing: -1.8px; }
.any_questions .questions_btns { margin: 60px 0 0 0; }
.any_questions .questions_btns .btn_banner { overflow: hidden; position: relative; width: 616px; height: 200px; padding: 0 48px 0 68px; background: #f4f6f8; text-align: left; box-sizing: border-box; }
.any_questions .questions_btns .btn_banner a { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.any_questions .questions_btns .btn_banner p { display: inline-block; margin: 50px 0 0 0; font-size: 18px; color: #616c78; }
.any_questions .questions_btns .btn_banner p span { display: block; margin: 13px 0 0 0; font-size: 40px; font-weight: 700; color: #414853; letter-spacing: -1.8px; }
.any_questions .questions_btns .btn_banner .image_box { display: inline-block; position: relative; top: -36px; width: 272px; height: 272px; border-radius: 50%; background: #fff; } 
.any_questions .questions_btns .btn_banner .image_box img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

@media screen and (max-width:768px) {
    .btn_primary_line.large {}
    .btn_primary_line.large { padding: 7px 16px 5px 30px; font-size: 16px; }
    .btn_primary_line.large .icon_right { width: 32px; height: 32px; margin-left: 8px; }
    .btn_primary_line.large .icon_right svg { width: 100%; height: 100%; }
    .header.desktop { display: none; }
    .header.mobile { display: block; }
    #wrap { min-width: auto; }
    .header { min-width: auto; height: 60px; padding: 0; }
    .header .header_wrap { min-width: auto; width: 100%; padding: 14px 24px; }
    .header h1 { width: 87px; height: 24px; margin-top: 4px; background-size: contain; }
    #gnb li a { font-size: 14px; }
    #gnb li+li { margin-left: 0; } 
    #container { padding-top: 60px; }
    .stn { overflow: hidden; min-width: auto; padding: 0 24px; }
    .content { width: 100%; }
    .content .tit_mobile { display: block !important; } 
    .visual .visual_text { float: none; display: inline-block; width: 100%; margin: 0; text-align: center; }
    .visual .visual_image { float: none; display: inline-block; width: 100%; max-width: 500px; height: 292px; margin-top: 24px; }
    .visual .content { margin: 48px 0 83px 0; } 
    .visual .visual_text .text_static { line-height: 57px; font-size: 24px; letter-spacing: -1px; }
    .visual .visual_text .text_static .font_InkLipquid { font-size: 48px; letter-spacing: -2px; }
    .visual .visual_text .text_large { line-height: 82px; font-size: 72px; }
    .visual .visual_btn { float: none; margin-top: 68px; }
    .intro .content:first-child { margin-top: 36px; }
    .intro .content { margin: 36px 0 0 0; text-align: center; }
    .intro .content+.content { margin: 36px 0 0 0; } 
    .intro .content:last-child { margin-bottom: 48px; }
    .intro .content .cont_text { float: none; display: inline-block; width: 100%; max-width: 500px; height: auto; }
    .intro .content .cont_text .text_box { position: relative; top: auto; left: auto; transform: unset; }
    .intro .content .cont_text.fl .text_box,
    .intro .content .cont_text.fr .text_box { padding: 0; }
    .intro .content .cont_text .tit { line-height: 36px; font-size: 28px; }
    .intro .content .cont_text .desc { margin-top: 16px; line-height: inherit; font-size: 14px; }
    .intro .content .cont_image { float: none; display: inline-block; width: 100%; max-width: 500px; height: auto; margin: 16px 0 30px 0; }
    .intro .content .font_InkLipquid { font-size: 40px; }
    .intro .cont01_animation .cont_image .left { width: 100%; }
    .intro .cont01_animation .cont_image .right { width: 200px; right: 0px; bottom: 0px; opacity: 1; }
    .intro .cont01_animation .cont_image .right.active { animation: none; }
    .intro .content .info { display: inline-block; position: static; left: auto; bottom: auto; width: 100%; max-width: 500px; text-align: left; }
    .movie_youtube { margin-top: 0; }
    .movie_youtube .content { padding: 24px 0; text-align: center; }
    .movie_youtube .movie_tit { display: inline-block; width: 212px; line-height: inherit; font-size: 16px; }
    .movie_youtube .movie { position: relative; width: 100%; height: 0; margin-top: 24px; padding-bottom: 56.25%; }
    .movie_youtube .movie iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
    .tutorial .content { padding: 48px 0; }
    .tutorial .tutorial_tit { padding: 13px 0 17px 0; }
    .tutorial .tutorial_tit .tit { display: none; }
    .tutorial .tutorial_tit .tit .font_InkLipquid { font-size: 48px; }
    .tutorial .btn_tutorial { padding: 0 32px; line-height: 30px; font-size: 16px; }
    .tutorial .btn_tutorial .icon_right { width: 32px; height: 32px; margin-left: 6px; }
    .tutorial .tutorial_cont { margin-top: 48px; } 
    .tutorial .tutorial_cont .image_box { float: none; display: inline-block; max-width: 500px; width: 100%; height: 408px; margin: 0; display: none; } 
    .tutorial .tutorial_cont .image_box video {}
    .tutorial .tutorial_cont .image.swiper-slide { display: inline-block; max-width: 500px; height: 408px; overflow: hidden; }
    .tutorial .tutorial_cont .image.swiper-slide video { width: 100%; } 
    .tutorial .tutorial_cont .text_box { float: none; } 
    .tutorial .tutorial_cont .folder_wrap { display: none; }
    .tutorial .tutorial_cont .mobile_folder_wrap { display: block; }
    #lyr_video_player.lyrPlayBox { width: calc(100% - 40px); }
    #lyr_video_player .lyr_ct { width: 100%; }
    .try_ava .content { margin: 40px 0; }
    .try_ava .try_tit { display: none; }
    .try_ava .try_desc { line-height: 24px; font-size: 16px; font-weight: 400; letter-spacing: -0.7px; }
    .any_questions .content { padding: 48px 0; }
    .any_questions .questions_tit { line-height: inherit; font-size: 24px; letter-spacing: -1px; }
    .any_questions .questions_btns { margin: 24px 0 0 0; }
    .any_questions .questions_btns .btn_banner { float: none; display: inline-block; max-width: 500px; width: 100%; height: auto; padding: 14px 24px; }
    .any_questions .questions_btns .btn_banner+.btn_banner { margin-top: 16px; }
    .any_questions .questions_btns .btn_banner p { margin: 5px 0 0 0; line-height: inherit; font-size: 14px; }
    .any_questions .questions_btns .btn_banner p span { margin: 6px 0 0 0; line-height: inherit; font-size: 24px; }
    .any_questions .questions_btns .btn_banner .image_box { top: auto; width: 72px; height: 72px; }
    .any_questions .questions_btns .btn_banner .image_box video { width: 40px; height: 40px; }
    #footer { padding: 0 24px; }
    #footer .content { padding: 16px 0 24px 0; }
    #footer .footer_logo { width: 96px; } 
    #footer .footer_cont { display: block; margin: 12px 0 0 0; }
    #footer .footer_cont li:nth-child(3) { display: block; margin: 0; }
    #footer .footer_cont li:last-child { display: none; }
    #footer .footer_nav .nav_list { padding: 10px 0; font-size: 12px; }
    #footer .footer_cont .info_txt { margin: 16px 0 0 0; font-size: 10px; }
    #footer .footer_cont .copyright { margin-top: 24px; text-align: center; }
}